{% load static %}
<!-- Page Footer-->
    <footer class="main-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="logo">
                <h6 class="text-white">Info Tech</h6>
              </div>
              <div class="contact-details">
                <p>Página creada por el grupo 5 de la comisión 3 Infomatorio 2021</p>

              </div>
            </div>

              <div class="menus d-flex">
                <ul class="list-unstyled">
                  <li> <a href="https://github.com/leonelcarreras/infotech/">GitHub del Proyecto</a></li>
 
                </ul>

            </div>

          </div>
        </div>
        <div class="copyrights">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <p>&copy; Grupo 5 Comisión 3 Informatorio 2021.</p>
              </div>
              <div class="col-md-6 text-right">
                <p>Template By <a href="https://www.linkedin.com/in/leonelcarreras/" class="text-white">Leocarreras</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>